<template>
	<div class="container">

	<div class="section">
            <span class="subtitle">Login</span> <br>
            <input type="text" class="input field is-dark" placeholder="email" v-model="login.email">
            <input type="password" class="input field is-dark" placeholder="password"  v-model="login.password">
            <button class="button is-dark" @click="loginMethod()">Login</button>  
    </div>          


<div class="section">
            <span class="subtitle">Register</span> <br>
            <input type="text" class="input field is-dark" placeholder="name" v-model="register.name">
           <input type="text" class="input field is-dark" placeholder="email" v-model="register.email">
            <input type="password" class="input field is-dark" placeholder="password" v-model="register.password">
            <button class="button is-dark" @click="registerMethod()">Register</button>
</div>


	</div>
</template>

<script type="text/javascript">
import {http} from '../axios.js'
	export default{
		data(){
			return{
				login:{
					email:null,
					password:null
				} ,
				register:{
					name:null,
					password:null ,
					email:null
				}
			}
		},
		methods:{
			registerMethod(){
				http.post('register',{
			      name:this.register.name,
			      email:this.register.email,
			      password:this.register.password
				})
				.then((res) => {
					localStorage.setItem('token',res.data);
					console.log('success')
					this.$router.push('profile')
				})
				.catch((e) => {
					console.log(e.response.data)
				})
			},
			loginMethod(){
				http.post('login ',{
			      email:this.login.email,
			      password:this.login.password
				})
				.then((res) => {
					localStorage.setItem('token',res.data);
					console.log('success')
					this.$router.push('profile')
				})
				.catch((e) => {
					console.log(e.response.data)
				})
			}
		}
	}
</script>