<template>
	<div class="container">
  	<h1 class="section title" v-if="user != null">
       Welcome! {{user.name}} <br>
       <small class="subtitle is-uppercase"> {{ user.email }} </small>
	</h1>

	<h1 class="title has-text-danger section" v-else>
              {{ error.message }}
	</h1>

	</div>
</template>

<script type="text/javascript">
import {http} from '../axios.js'
	export default{
		data(){
			return{
			 user:null ,
			 error:null
			}
		},
		created(){
			this.Profile()
		},
		methods:{
			Profile(){
				http.post('profile',{},{
					headers:{
						'Authorization':'Bearer'+" "+localStorage.getItem('token')
					}
				})
				.then((res) => {
					this.user = res.data
				})
				.catch((e) => {
					this.error = e.response.data
				})
			}
	    }
	}
</script>